@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;

        --header: 244 47% 20%;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;

        --header: 240 6% 10%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background font-general-sans text-foreground;
    }

    .animation__button_underline {
        @apply before:absolute before:-bottom-1 before:left-0 before:block before:h-[2px] before:w-full before:origin-bottom-right before:scale-x-0 before:bg-blue-400 before:transition before:duration-300 before:ease-in-out hover:before:origin-bottom-left hover:before:scale-x-100;
    }

    h1 {
        @apply font-satoshi text-[48px] font-bold leading-[120%] tracking-[0%] lg:text-[112px];
    }
    h2 {
        @apply font-satoshi text-[40px] font-bold leading-[120%] tracking-[-2%] lg:text-[64px];
    }
    h3 {
        @apply font-satoshi text-[32px] font-bold leading-[120%] tracking-[-2%] lg:text-[48px];
    }
    h4 {
        @apply font-satoshi text-[16px] font-medium leading-[130%] tracking-[-2%] lg:text-[18px];
    }
    h5 {
        @apply font-satoshi text-[16px] font-medium leading-[130%] tracking-[-2%] lg:text-[18px];
    }
    p {
        @apply font-general-sans;
    }

    .bg__button {
        @apply bg-indigo-700;
    }

    .button__anim:hover div .button__texts {
        @apply translate-y-[-150%];
        transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .button__anim div .button__texts {
        @apply translate-y-[0%];
        transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}
